<footer id="footer">
  <div class="paymentsContainer">
    <div class="formPayments">
      <h1>Formas de Pagamento</h1>
    </div>
    <div class="text">
      <span>Pague no cartão de crédito em até 12X com juros, boleto à vista ou parcelado, transferência bancária ou com pix!</span>
    </div>
    <div class="flagsPayments">
      <img src="https://123milhas.com/_next/image?url=%2Fcard-flags%2Famex.png&w=70&q=100">
      <img src="https://123milhas.com/_next/image?url=%2Fcard-flags%2Faura.png&w=70&q=100">
      <img src="https://123milhas.com/_next/image?url=%2Fcard-flags%2Fcredz.png&w=70&q=100">
      <img src="https://123milhas.com/_next/image?url=%2Fcard-flags%2Fdiners.png&w=70&q=100">
      <img src="https://123milhas.com/_next/image?url=%2Fcard-flags%2Fdiscover.png&w=70&q=100">
      <img src="https://123milhas.com/_next/image?url=%2Fcard-flags%2Felo.png&w=70&q=100">
      <img src="https://123milhas.com/_next/image?url=%2Fcard-flags%2Fhiper.png&w=70&q=100">
      <img src="https://123milhas.com/_next/image?url=%2Fcard-flags%2Fhipercard.png&w=70&q=100">
      <img src="https://123milhas.com/_next/image?url=%2Fcard-flags%2Fjcb.png&w=70&q=100">
      <img src="https://123milhas.com/_next/image?url=%2Fcard-flags%2Fmastercard.png&w=70&q=100">
      <img src="https://123milhas.com/_next/image?url=%2Fcard-flags%2Fsorocred-1.png&w=70&q=100">
      <img src="https://123milhas.com/_next/image?url=%2Fcard-flags%2Fsorocred.png&w=70&q=100">
      <img src="https://123milhas.com/_next/image?url=%2Fcard-flags%2Fitau.png&w=70&q=100">
      <img src="https://123milhas.com/_next/image?url=%2Fcard-flags%2Fbradesco.png&w=70&q=100">
      <img src="https://123milhas.com/_next/image?url=%2Fcard-flags%2Fsantander.png&w=70&q=100">
      <img src="https://123milhas.com/_next/image?url=%2Fcard-flags%2Fbb.png&w=70&q=100">
      <img src="https://123milhas.com/_next/image?url=%2Fcard-flags%2Fbanrisul.png&w=70&q=100">
      <img src="https://123milhas.com/_next/image?url=%2Fcard-flags%2Fcaixa.png&w=70&q=100">
      <img src="https://123milhas.com/_next/image?url=%2Fcard-flags%2FsafetyPay.png&w=70&q=100">
      <img src="https://123milhas.com/_next/image?url=%2Fcard-flags%2Fpix.png&w=70&q=100">
    </div>
  </div>
</footer>
