<div class="main">
  <div class="banner">
    <div class="searchBox">
      <div class="searchTitle">
        <span>Pacotes</span>
      </div>
      <div class="searchInputs">
        <div class="inputs">
          <span>Para onde você vai?</span>
          <div class="inputBox">
            <i class="bx bx-location-plus"></i>
            <input type="text" placeholder="Busque cidade ou aeroporto">
          </div>
        </div>
        <div class="inputs">
          <span>Escolha o período</span>
          <div class="inputBox">
            <i class="bx bx-calendar"></i>
            <div class="datePicker">
              <input type="text" placeholder="Check In">
              <input type="text" placeholder="Checkout">
            </div>
          </div>
        </div>
        <div class="inputs">
          <span>Quartos e hóspedes</span>
          <div class="inputBox">
            <i class="bx bx-group"></i>
            <input type="text" placeholder="1 quarto, 2 hóspedes">
          </div>
        </div>
        <button type="submit">
          <span>Buscar Pacotes</span>
        </button>
      </div>
    </div>
  </div>
</div>
